.ui.button {
    background-color: #f9d4bb !important;
    color: #4a3933 !important;
    border-color: #4a3933 !important;
  }
  .ui.green.button {
    background-color: #75c33b !important;
    color: #fff !important;
    border-color: #75c33b !important;
  }

  .product-card {
    border: 1px solid #d4d4d5;
    padding: 1rem;
  }
  .product-card-group {
    margin: 2rem 0;
  }

  
